<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Singularity</title>


    <!-- Chat JS -->

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/ChatJs/js/jquery.autosize.js"></script>
    <!-- chatjs files-->
    <script src="js/ChatJs/js/jquery.chatjs.utils.js"></script>
    <script src="js/ChatJs/js/jquery.chatjs.adapter.servertypes.js"></script>
    <script src="js/ChatJs/js/jquery.chatjs.adapter.js"></script>
    <script src="js/ChatJs/js/jquery.chatjs.adapter.demo.js"></script>
    <script src="js/ChatJs/js/jquery.chatjs.window.js"></script>
    <script src="js/ChatJs/js/jquery.chatjs.messageboard.js"></script>
    <script src="js/ChatJs/js/jquery.chatjs.userlist.js"></script>
    <script src="js/ChatJs/js/jquery.chatjs.pmwindow.js"></script>
    <script src="js/ChatJs/js/jquery.chatjs.friendswindow.js"></script>
    <script src="js/ChatJs/js/jquery.chatjs.controller.js"></script>
    <link rel="stylesheet" href="js/ChatJs/css/jquery.chatjs.css" />
    <link rel="shortcut icon" type="image/ico" href="./Images/logo.jpg" />

    <script type="text/javascript">
        $(function () {
            $.chat({
                // your user information
                userId: 1,
                // id of the room. The friends list is based on the room Id
                roomId: 1,
                // text displayed when the other user is typing
                typingText: ' is typing...',
                // text displayed when there's no other users in the room
                emptyRoomText: "There's no one around here. You can still open a session in another browser and chat with yourself :)",
                // the adapter you are using
                chatJsContentPath: 'js/Chatjs/',
                adapter: new DemoAdapter()
            });
        });
    </script>


    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script data-require="angular.js@*" data-semver="1.2.10" src="https://code.angularjs.org/1.2.10/angular.js"></script>
    <script src="js/angular.ng-modules.js"></script>
    <script src="js/macroschart0.js"></script>
    <script src="js/sorttable.js"></script>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <script src="js/scale.fix.js"></script>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href=""><img class="navbar-brand" src="./Images/name.jpg"></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="./Images/shivam.jpg" style="width:50px; height:50px;" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>Shivam Kim</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Today</p>
                                        <p>You have no message.</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-star"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Step Points:  <span class="label label-default"><%=stepPoint %></span></a>
                        </li>
                        <li>
                            <a href="#">Weight Points:  <span class="label label-primary"><%=weightPoint%></span></a>
                        </li>
                        <li>
                            <a href="#">Calories Points:  <span class="label label-success"><%=caloriesBurnedPoint%></span></a>
                        </li>
                        <li>
                            <a href="#">Inactivity Points:  <span class="label label-info"><%=inactivePoint%></span></a>
                        </li>
                        <li>
                            <a href="#">Sleep Points:  <span class="label label-warning"><%=sleepPoint%></span></a>
                        </li>
                        <li>
                            <a href="#">Intake points:  <span class="label label-danger"><%=caloriesPoint%></span></a>
                        </li>
                        <li>
                            <a href="#">Active Points:  <span class="label label-default"><%=activePoint%></span></a>
                        </li>
                        <li>
                            <a href="#"> Today's Total:  <span class="label label-primary"><%=totalPoint%></span></a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Shivam Kim <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="./"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="./login/jawbone"><i class="fa fa-fw fa-sign-in"></i> Jawbone Login</a>
                    </li>
                    <!-- <li>
                        <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                    </li> -->
                    <li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Health Dashboard <small>Your Daily Nutrition/Fitness Overview</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                <div class = "col-lg-6">
                    <div class="col-lg-6 col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-child fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%= stepstoday %></div>
                                        <div>Steps Today</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span id="stepsChart" class="pull-left">View Details</span>
                                    <span class="pull-right" id="stepsChart"><i id="stepsChart" class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-moon-o fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%= sleeptoday %></div>
                                        <div>Hours of Sleep</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-history fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%= weighttoday %></div>
                                        <div>Current Weight</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="panel panel-purple">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-cutlery fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%= caloriestoday %></div>
                                        <div>Calories Consumed</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-fire fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%= caloriesburned %></div>
                                        <div>Calories Burned</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="panel panel-pink">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-heartbeat fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%= ahr %></div>
                                        <div>Average Heart Rate</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="panel panel-grey">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-hourglass fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%= iat %></div>
                                        <div>Hours of Inactive Time</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="panel panel-bluish">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-bicycle fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%= aat %></div>
                                        <div>Hours of Active Time</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div> 
                    </div>
                    <script type="text/javascript">
                        function clicked() {
                            alert('Daily Survey Submitted');
                            document.getElementById('submitted').style.display = 'block';
                        }
                    </script>
                    <div class = "col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-paperclip fa-fw"></i> Daily Survey</h3>
                            </div>
                            <div class="panel-body">
                                <form id="survey" method="post" target="frame">
                                <strong>1. Have you ever had 2 years or more in your life when you felt depressed or sad most days, even if you felt OK sometimes?</strong><br />
                                <input type="radio" name="q1" id="q1" value="Yes" checked> Yes
                                <input type="radio" name="q1" id="q1" value="No"> No<br><br>
                                <strong>2. Did any period like that ever last 2 years without an interruption of 2 full months when you felt OK?</strong><br />
                                <input type="radio" name="q2" id="q2" value="Yes" checked> Yes
                                <input type="radio" name="q2" id="q2" value="No"> No<br><br>
                                <strong>3. Did any of those long periods of feeling sad or depressed continue into the last 12 months?</strong><br />
                                <input type="radio" name="q3" id="q3" value="Yes" checked> Yes
                                <input type="radio" name="q3" id="q3" value="No"> No<br><br>
                                <strong>4. In the last 12 months, have you had 2 weeks or longer when nearly every day you felt sad, empty or depressed for most of the day?</strong><br />
                                <input type="radio" name="q4" id="q4" value="Yes" checked> Yes
                                <input type="radio" name="q4" id="q4" value="No"> No<br><br>
                                <strong>5. In the last 12 months, have you had 2 weeks or longer when you lost interest in most things like work, hobbies, and other things you usually enjoyed?</strong><br />
                                <input type="radio" name="q5" id="q5" value="Yes" checked> Yes
                                <input type="radio" name="q5" id="q5" value="No"> No<br><br>
                                <strong>6. In the last month did you have a period of 1 week or more when nearly every day you felt sad, empty or depressed for most of the day?</strong><br />
                                <input type="radio" name="q6" id="q6" value="Yes" checked> Yes
                                <input type="radio" name="q6" id="q6" value="No"> No<br><br>
                                <strong>7. In the last month did you have a period of 1 week or more when you lost interest in most things like work, hobbies, and other things you usually enjoyed?</strong><br />
                                <input type="radio" name="q7" id="q7" value="Yes" checked> Yes
                                <input type="radio" name="q7" id="q7" value="No"> No<br><br>
                                <input type="submit" id="submit" value="Send" onclick="clicked();" />
                                </form>
                            </div>
                            <div class="panel-footer" id="submitted" style="display:none">
                                    <span class="pull-right">Daily Survey Submitted!</span>
                                    <div class="clearfix"></div>
                                </div>
                        </div>
                        <iframe name="frame" style="display:none;"></iframe>
                    </div>                                                           
                </div>
                <!-- /.row -->

                <div class="row chart" id="stepChart">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Overall Chart</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-area-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

               <!-- This is about Step chart -->
                <script type="text/javascript">
                    // Area Chart
                $(function() {
                    Morris.Area({
                        element: 'morris-area-chart',
                        data: [{
                            period: '2016-02-18',
                            sleep: 6,
                            steps: 6000,
                            weight: 148,
                            caloriesburned: 500,
                            caloriesconsumed: 800,
                            averagheartrate: 74,
                            inactivetime: 8.36,
                            activetime: 1.89
                        }, {
                            period: '2016-02-19',
                            sleep: 7,
                            steps: 8000,
                            weight: 150,
                            caloriesburned: 700,
                            caloriesconsumed: 800,
                            averagheartrate: 70,
                            inactivetime: 9.36,
                            activetime: 1.23
                        }, {
                            period: '2016-02-20',
                            sleep: 7.5,
                            steps: 12000,
                            weight: 152,
                            caloriesburned: 1000,
                            caloriesconsumed: 800,
                            averagheartrate: 72,
                            inactivetime: 10.36,
                            activetime: 1.23
                        }, {
                            period: '2016-02-21',
                            sleep: 7,
                            steps: 13000,
                            weight: 148,
                            caloriesburned: 700,
                            caloriesconsumed: 800,
                            averagheartrate: 70,
                            inactivetime: 4.36,
                            activetime: 2.8
                        }, {
                            period: '2016-02-22',
                            sleep: 8.5,
                            steps: 18000,
                            weight: 148,
                            caloriesburned: 500,
                            caloriesconsumed: 800,
                            averagheartrate: 72,
                            inactivetime: 15.36,
                            activetime: 2.4
                        }, {
                            period: '2016-02-23',
                            sleep: 9,
                            steps: 12000,
                            weight: 149,
                            caloriesburned: 280,
                            caloriesconsumed: 800,
                            averagheartrate: 70,
                            inactivetime: 13.36,
                            activetime: 1.9
                        }, {
                            period: '2016-02-24',
                            sleep: 8.5,
                            steps: 14000,
                            weight: 150,
                            caloriesburned: 600,
                            caloriesconsumed: 800,
                            averagheartrate: 72,
                            inactivetime: 19.36,
                            activetime: 2.5
                        }, {
                            period: '2016-02-25',
                            sleep: 9,
                            steps: 7000,
                            weight: 148,
                            caloriesburned: 870,
                            caloriesconsumed: 800,
                            averagheartrate: 70,
                            inactivetime: 14,
                            activetime: 1.7
                        }, {
                            period: '2016-02-26',
                            sleep: 4.57,
                            steps: 9290,
                            weight: 148,
                            caloriesburned: 465,
                            caloriesconsumed: 3517,
                            averagheartrate: 68,
                            inactivetime: 7.96,
                            activetime: 1.52
                        }, {
                            period: '2016-02-27',
                            sleep: 7.19,
                            steps: 9183,
                            weight: 148,
                            caloriesburned: 413,
                            caloriesconsumed: 2066,
                            averagheartrate: 74,
                            inactivetime: 8.36,
                            activetime: 1.23
                        }],
                        xkey: 'period',
                        ykeys: ['sleep','steps','weight','caloriesburned','averagheartrate','inactivetime','activetime'],
                        labels: ['sleep', 'steps', 'weight','caloriesburned','averagheartrate','inactivetime','activetime'],
                        pointSize: 2,
                        hideHover: 'auto',
                        resize: true
                    });
                });
                </script>



                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-pie-chart fa-fw"></i> Daily Macros Breakup</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-donut-chart"></div>
                                <div class="text-right">
                                    <a href="#">View More Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script src="js/macrosbreakdown.js"></script>
                    <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-cubes fa-fw"></i> Weekly Nutrition</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="sortable table table-bordered table-hover table-striped" ng-module="macrosApp" ng-controller="macrosCtrl">
                                        <thead style = "cursor: default;">
                                            <tr>
                                                <th>Date</th>
                                                <th>Calories</th>
                                                <th>Carbs(g)</th>
                                                <th>Fat(g)</th>
                                                <th>Protein(g)</th>
                                                <th>Cholesterol(mg)</th>
                                                <th>Sodium(mg)</th>
                                                <th>Sugar(g)</th>
                                                <th>Fiber(g)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="macros in macrosrepetition">
                                                <td>{{macros.date}}
                                                </td>
                                                <td>{{macros.calories}}
                                                </td>
                                                <td>{{macros.carbs}}
                                                </td>
                                                <td>{{macros.fat}}
                                                </td>
                                                <td>{{macros.protein}}
                                                </td>
                                                <td>{{macros.cholesterol}}
                                                </td>
                                                <td>{{macros.sodium}}
                                                </td>
                                                <td>{{macros.sugar}}
                                                </td>
                                                <td>{{macros.fiber}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="#">View More Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-pagelines fa-fw"></i> Breakfast</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="sortable table table-bordered table-hover table-striped" ng-module="foodApp" ng-controller="foodCtrl">
                                        <thead style = "cursor: default;">
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="food in foodrepetition0">
                                                <td>{{food.food}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="#">View More Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-pagelines fa-fw"></i> Lunch </h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="sortable table table-bordered table-hover table-striped" ng-module="foodApp" ng-controller="foodCtrl">
                                        <thead style = "cursor: default;">
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="food in foodrepetition1">
                                                <td>{{food.food}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="#">View More Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    
                </div>
                    <div class="col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-pagelines fa-fw"></i> Dinner </h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="sortable table table-bordered table-hover table-striped" ng-module="foodApp" ng-controller="foodCtrl">
                                        <thead style = "cursor: default;">
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="food in foodrepetition2">
                                                <td>{{food.food}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="#">View More Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    
                </div>
                    <div class="col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-pagelines fa-fw"></i> Snacks </h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="sortable table table-bordered table-hover table-striped" ng-module="foodApp" ng-controller="foodCtrl">
                                        <thead style = "cursor: default;">
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="food in foodrepetition3">
                                                <td>{{food.food}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="#">View More Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    
                </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    
</body>

</html>
